{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended",
    "plugin:vue/recommended"
  ],
  "plugins": [],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": ["error", "only-multiline"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "vue/html-closing-bracket-spacing": [
      "error",
      {
        "selfClosingTag": "always"
      }
    ],
    "vue/no-unused-components": [
      "warn"
    ],
    "vue/require-component-is": [
     "off"
    ],
    "vue/singleline-html-element-content-newline": [
      "warn",
      {
        "ignoreWhenNoAttributes": true,
        "ignoreWhenEmpty": true,
        "ignores": [
          "pre",
          "textarea"
        ]
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 1,
        "multiline": {
          "max": 1,
          "allowFirstLine": true
        }
      }
    ]
  }
}
