* {
  outline: none;
  box-sizing: border-box;
}

html, body, div, span, input, textarea, button, select, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;

  outline: none;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-appearance: none;

  &::selection {
    background: rgba($colorMain, .25)
  }
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


html {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  //@include below($lg-mobile) {
  //    hyphens: auto;
  //}
}
