// fonts
$fontPrimary: Helvetica, Arial, sans-serif;

// Text size
$fz-sxs: 11px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;

$fz-h-sxs: 22px;
$fz-h-xs: 24px;
$fz-h-sm: 26px;
$fz-h-md: 30px;
$fz-h-lg: 34px;
$fz-h-xl: 40px;

// colors
$colorWhite: #FFFFFF;

$colorMain: #0062C5;
$colorMainL: #007EDB;
$colorMainD: #133D5F;
$colorMainED: #162133;

$colorBlack: #3C3947;

$colorGray: #646464;
$colorGrayL: #E0E0E0;
$colorGrayEL: #f5f5f5;

$colorRed: #952425;
$colorGreen: #1b9b0e;



